.footer {
    background-color: rgb(45, 45, 46);
    padding: 2rem 0 0 0rem;
    text-align: center;
    color: #fff;

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            list-style: none;

            li {
                margin-left: 1rem;

                a {
                    color: inherit;
                    font-weight: bold;
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: underline;

                }
            
            }

            li:nth-child(1) {
                margin-left: -2.5rem;
            }
        }

        .social-media {
            color: gold;
            a {
                font-size: 2rem;

                &:hover {
                    color: red;
                }
            }
        }
    }

    .footer-bottom {
        background-color:rgb(20, 20, 20);
        padding: 1rem;
    }
}